<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Account Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
<link rel="stylesheet" href="/static/bootstrap.min.css">
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>

      <link rel="stylesheet" href="static/style_login.css">


</head>

<body>

<style media="screen">
  body {background: url('/static/loll.jpg') no-repeat center center fixed !important;background-size: cover;}

</style>

  <div class="cont">
  <div class="demo">
    <div class="login">
      <div class="login__check"></div>
      <div class="login__form">
          {% if error %}<p style="font-size:13px"><strong>Error:</strong> {{ error }}{% endif %}</p>

        <div class="login__row">
            <form action=""  method="post">

          <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
            <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
          </svg>
          <input type="text" class="login__input name" name=username placeholder="Aadhar Number"/>
        </div>
        <div class="login__row">
          <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
            <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
          </svg>
          <input type="password" class="login__input pass" name=password placeholder="Mobile Number"/>
        </div>
        <button type="submit" class="login__submit">Log in</button>
      </div>
    </div>
</form>
    </div>
  </div>
</div>
  <script src='/static/jquery.min.js'></script>
      <script  src="static/index_login.js"></script>




</body>

</html>
