<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Voting</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

<script>
alert("Please Enter Fingerprint");
</script>

    <center><h1 style="font-size:60px">Voting</h1></center>
    <style media="screen">
      body {background: url('/static/xD.jpg') no-repeat center center fixed !important;background-size: cover;}

    </style>
<form  method="post" >
    <center>
<div class="radio">
 <label style="font-size:40px"><input type="radio" name="vote" value="AAP" > Aam Admi Party</label>
</div>
<div class="radio">
 <label style="font-size:40px"><input type="radio" name="vote" value="CONG"> Congress</label>
</div>
<div class="radio disabled">
 <label style="font-size:40px"><input type="radio" name="vote" value="BJP">Modi ka Party</label>
</div>
<label style="font-size:40px"><input type="radio" name="vote" value="NOTA">None of the above</label>
</div><br>
<input type="submit" name="submit" value="Cast Vote">
</form>
<center>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
